.login-container {
    
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a2e; /* Un tono oscuro pro */
  color: white;
}

.login-card {
  background: #16213e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

.input-box {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #0f3460;
  color: white;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #e94560;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #cf3a54;
}
